{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>B3hzadsh - CV</title>
        <meta name="description"
              content="simple CV example created with HTML and CSS">
        <meta name="author" content="Fly Nerd">
        <link rel="icon" href="{% static 'img/favicon.ico' %} ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %} ">
    </head>
    <body>
        {% block content %}
            content body
        {% endblock content %}
        <footer>
            <p>
                Created by: <a href="https://www.b3hzadsh.ir/">@b3hzadsh</a>
                <a href="https://www.linkedin.com/in/behzad-shabani-fard-980091182/">LinkedIn</a> / 2025
            </p>
        </footer>
    </body>
</html>
